<header>
  <div class="container">
    <div class="angular-icon">
      <img src="assets/angular.svg" alt="angular-icon" />
    </div>
    <div class="description-header">
      <h3>Home</h3>
      <h3>Sobre</h3>
      <button type="button" (click)="toggle()">
        <img src="assets/{{ icon }}.svg" alt="dark-theme" />
      </button>
    </div>
  </div>
</header>

<section class="content-page">
  <h1>Página Home</h1>
  <p>
    Esse artigo faz parte da Formação Explore o Framework Angular Confira neste
    artigo: O que é Angular? O que é Angular JS? Por que usar Angular? Angular x
    React Angular CLI Pré requisitos TypeScript no Angular Componentes Ciclo de
    vida Data binding Diretivas Serviços Injeção de Dependências Comunicação com
    Servidor Formulários e validação Módulos Lazy loading Rotas RxJS Animações
    Acessibilidade Angular material Testes Build Comunidade e Recursos de
    Aprendizado Aprenda mais sobre ANGULAR gratuitamente Apostilas — Você
    profissional em T Conclusão O que é Angular? Angular é um framework de
    código aberto desenvolvido pelo Google para a criação de aplicativos
    dinâmicos e interativos da web. Ele se baseia em TypeScript, uma linguagem
    superset do JavaScript, e utiliza uma abordagem orientada a componentes para
    a construção de interfaces. O Angular oferece uma estrutura sólida para
    desenvolvimento, incluindo suporte a gerenciamento de estado, roteamento,
    validação de formulários e muito mais. Além disso, sua arquitetura modular e
    o poderoso sistema de injeção de dependência facilitam a manutenção de
    aplicações complexas. Qual a melhor forma para aprender Framework? Com
    Alberto Souza | #HipstersPontoTube https://youtu.be/kL7c6YWavok Angular
    Framework — Para que serve? - YouTube
    https://www.youtube.com/watch?v=kL7c6YWavok Banner da Imersão Phyton:
    Inscreva-se gratuitamente na Imersão Phyton da Alura e mergulhe em análise
    de dados! O que é Angular JS? O Angular é um framework consolidado que foi
    desenvolvido pela equipe do Google em 2010. Essa primeira versão era
    conhecida como Angular JS, mas também podemos encontrar a grafia Angular.JS.
    Desde então, passou por diversas mudanças e evoluções. A mais importante
    delas foi a ocorrida em 2016, quando o framework foi praticamente reescrito,
    modificando sua estrutura e abordagem, passando a ser chamado apenas de
    Angular 2.0 ou Angular 2+ no caso das versões posteriores. O que é Angular e
    AngularJS? | #HipstersPontoTube https://youtu.be/LFlNU30u7d8 Leia também:
    Como anda o Angular.js? Devo embarcar nessa? Por que usar Angular? O Angular
    é o framework escolhido por muitas empresas e pessoas desenvolvedoras devido
    à sua robustez e conjunto de recursos abrangente. Sua estrutura modularizada
    promove a reutilização de código e a manutenção mais fácil. Além disso, ele
    traz poderosas ferramentas para lidar com tarefas complexas, como:
    Gerenciamento de estados; Manipulação de formulários; e Roteamento. O uso do
    TypeScript como linguagem base proporciona tipagem estática e segurança,
    enquanto a forte comunidade e a documentação extensa facilitam a
    aprendizagem e o suporte contínuo. Sua integração com bibliotecas como o
    RxJS para gerenciar fluxos de dados e o Angular Material para criar
    interfaces atraentes o torna uma solução completa para o desenvolvimento web
    moderno.
  </p>
</section>
